/* 			BACKGROUND COLORS 			*/

.white-bg {
	background: #fff;
}

.grey-bg {
	background: var(--secondary-color);
}

.light-blue-bg {
	background: #71cbf5;
}

.blue-bg {
	background: var(--primary-color);
}

.blue-90T-bg {
	background: var(--primary-color-90T);
}

.blue-40T-bg {
	background: var(--primary-color-40T);
}

.blue-30T-bg {
	background: var(--primary-color-30T);
}

.white-90T-bg {
	background: var(--white-90T);
}

/* 			SHADOWS 			*/

.navbar-shadow {
	box-shadow: 0px 3px 2px var(--primary-color-60T);
}

.card-shadow {
	box-shadow: 3px 4px 4px var(--primary-color-60T);
}

.basic-shadow {
	box-shadow: 3px 3px 10px var(--primary-color);
}

.basic-shadow-grey {
	box-shadow: 3px 3px 10px #737170;
}

/* 			OPACITY 			*/

.op80per {
	opacity: 80%;
}

/* 			DISPLAY 			*/ 

.no-display {
	display: none;
}