/*		 GENERALS		 */

:root {
	--primary-color: #15AAFE;
	--primary-color-90T : #15AAFE90;
	--primary-color-80T : #15AAFE80;
	--primary-color-60T : #15AAFE60;
	--primary-color-40T : #15AAFE40;
	--primary-color-30T : #15AAFE30;

	--secondary-color: #F7F7F7;

	--white-90T : #FFFFFF90;
}

* {
	margin: 0;
	padding: 0;
	background: transparent;

	list-style: 0;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	border-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
	position: relative;
}

body.pop-up-active {
	overflow: hidden;
	z-index: 3;
}

header.pop-up-active {
	z-index: 0;
}

.pop-up-background {
	background: transparent;
	backdrop-filter: blur(5px);
	position: fixed;
	top: 0;
}

.pop-up {
	position: fixed;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 200px;
	border-radius: 30px;
	background: white;
}

img {
	width: 100%;
}

/*		 FREQUENTLY USED		 */

.form-error {
	font-size: 14px;
	color: red;
}

.logo-name-wrapper {
	max-width: 180px;
}

.simple-button {
	font-size: 18px;
	padding: 10 40;
	background: var(--primary-color);
	border-radius: 7px;
	color: #fff;
}

.simple-red-button {
	font-size: 19px;
	padding: 10 40;
	background: red;
	border-radius: 7px;
	color: #fff;
}

.delete-button {
	font-size: 18px;
	padding: 10 40;
	background: #fff;
	border-style: solid;
	border-width: 0.7px;
	border-color: red;
	color: red;
	border-radius: 7px;
}

.cancel-button {
	font-size: 18px;
	padding: 10 40;
	background: #fff;
	border-style: solid;
	border-width: 0.7px;
	border-color: var(--primary-color);
	color: var(--primary-color);
	border-radius: 7px;
}

.continue-button {
	font-size: 18px;
	padding: 10 40;
	background: #fff;
	border-style: solid;
	border-width: 0.7px;
	border-color: var(--primary-color);
	color: var(--primary-color);
	border-radius: 7px;
}


.basic-text-input {
	width: 350px;
	height: 50px;
	font-size: 16px;
	padding: 0 25;
	border-style: solid;
	border-width: 0.7px;
	border-radius: 7px;
	border-color: var(--primary-color);
	outline: none;
}

.basic-red-text-input {
	width: 350px;
	height: 50px;
	font-size: 16px;
	padding: 0 25;
	border-style: solid;
	border-width: 0.7px;
	border-radius: 7px;
	border-color: red;
	outline: none;
}

.answer-text-input {
	width: 700px;
	height: 192px;
	font-size: 16px;
	padding: 16 25;
	border-style: solid;
	border-width: 0.7px;
	border-radius: 7px;
	border-color: var(--primary-color);
	outline: none;
}

.question-text-input {
	width: 700px;
	height: 64px;
	font-size: 16px;
	padding: 16 25;
	border-style: solid;
	border-width: 0.7px;
	border-radius: 7px;
	border-color: var(--primary-color);
	outline: none;
}

.description-text-input {
	width: 700px;
	height: 96px;
	font-size: 16px;
	padding: 16 25;
	border-style: solid;
	border-width: 0.7px;
	border-radius: 7px;
	border-color: var(--primary-color);
	outline: none;
}

.wide-text-input {
	width: 700px;
	height: 50px;
	font-size: 16px;
	padding: 0 25;
	border-style: solid;
	border-width: 0.7px;
	border-radius: 7px;
	border-color: var(--primary-color);
	outline: none;
}

.search-bar-wrapper {
	padding: 0 25;
	border-style: solid;
	border-width: 0.7px;
	border-radius: 7px;
	border-color: var(--primary-color);
}

.search-bar-text-input {
	width: 560px;
	font-size: 16px;
	outline: none;
}

.title {
	font-weight: bold;
	font-size: 32px;
}

.subtitle {
	font-weight: bold;
	font-size: 24px;
}

.return-arrow {
	max-width: 25px;
}

.printer-card {
	max-width: 480px;
	position: relative;
	z-index: 0;
	align-self: center;
}

.empty-printer-card {
	max-width: 480px;
	position: relative;
	z-index: 0;
	align-self: center;
}

.remove-button {
	position: absolute;
	top: 10px;
	right: 0;
}

.rating {
	position: absolute;
	top: 15px;
	left: 20px;
}

.saved-icon {
	position: absolute;
	bottom: 10px;
	right: 10px;
}


.manuals-grid-container {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	align-items: stretch;
	grid-row-gap: 1px;
	grid-column-gap: 1px;
}

.faq-grid-container {
	display: grid;
	grid-template-columns: repeat(1, 100%);
	align-items: stretch;
	grid-row-gap: 1px;
}


/* 			BOX-SIZING 			*/

.full-box {
	box-sizing: border-box;
}

.left-right-border {
	border-left: 1px;
	border-right: 1px;
	border-color: var(--primary-color);
}

.full-border {
	border-style: solid;
	border-width: 1px;
	border-color: var(--primary-color);
}

/* 			CURSOR 			*/

.pointer {
	cursor: pointer;
}

::-webkit-file-upload-button{
	display: none;
}

.pic-container {
	position: relative;
}

.change-pic {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.locked {
	pointer-events: none;
	background: var(--primary-color-30T);
}

.input-container {
	position: relative;
}

.edit-icon {
	position: absolute;
	width: 22px;
	right: 0;
	top: 50%;
	transform: translate(-75%, -50%);
}

.label {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(20%, -50%);
	background-image: linear-gradient(to bottom, #fff 55%, transparent 55%); 
}

.search-icon-container {
	position: relative;
}

.search-icon {
	width: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-55%, -55%);
}

.video-container {
	aspect-ratio: 16/9;
}

.pdf-container {
	aspect-ratio: 1/0.7;
}

.inline {
	display: inline;
}

.feedback-text-input {
	width: 500px;
	height: 192px;
	font-size: 16px;
	padding: 16 25;
	border-style: solid;
	border-width: 0.7px;
	border-radius: 7px;
	border-color: var(--primary-color);
	outline: none;
}