/* 			PADDINGS 			*/

.right-40px {
	padding-right: 40px;
}

.top-4per {
	padding-top: 4%;
}

.bottom-4per {
	padding-bottom: 4%;
}

.bottom-40px {
	padding-bottom: 40px;
}

.bottom-80px {
	padding-bottom: 80px;
}

.bottom-150px {
	padding-bottom: 150px;
}

.bottom-200px {
	padding-bottom: 200px;
}


.top-bottom-2per {
	padding: 2% 0;
}

.top-bottom-3per {
	padding: 3% 0;
}

.top-bottom-4per {
	padding: 4% 0;
}

.top-bottom-5per {
	padding: 5% 0;
}

.top-bottom-7per {
	padding: 7% 0;
}

.top-bottom-12dt5per {
	padding: 12.5% 0;
}

.top-bottom-20per {
	padding: 20% 0;
}

.top-bottom-20px {
	padding: 20px 0;
}

.top-bottom-40px {
	padding: 40px 0;
}

.top-bottom-60px {
	padding: 60px 0;
}

.top-bottom-222px {
	padding: 222px 0;
}

.top-bottom-180px {
	padding: 180px 0;
}

.left-right-4per {
	padding: 0 4%;
}

.left-right-7per {
	padding: 0 7%;
}

.left-right-5px {
	padding: 0 5px;
}

.left-40px {
	padding-left: 40px;
}

.left-20px {
	padding-left: 20px;
}

.left-87px {
	padding-left: 87px;
}

.left-150px {
	padding-left: 150px;
}

.full-3per {
	padding: 3% 3%;
}

.full-3dt5per {
	padding: 3.5% 3.5%;
}

.full-5per {
	padding: 5% 5%;
}

/* 			MARGINS 			*/

.m-top-5per {
	margin-top: 5%;
}

.m-top-40px {
	margin-top: 40px;
}

.m-top-20px {
	margin-top: 20px;
}

.m-top-65px {
	margin-top: 65px;
}

.m-top-100px {
	margin-top: 100px;
}

.m-right-20px {
	margin-right: 20px;
}

.m-left-25px {
	margin-left: 25px;
}

.m-left-10px {
	margin-left: 10px;
}

/* 			FONT WEIGHT 			*/

.normal {
	font-weight: normal;
}

.bold {
	font-weight: bold;
}