/* 			FLEX OPTIONS 			*/
.flex-center {
	display: flex;
	justify-content: center;
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
}

.flex-left {
	display: flex;
	justify-content: left;
}

.flex-right {
	display: flex;
	justify-content: right;
}

.flex-column {
	display: flex;
	flex-direction: column;
	
}

/* 			ALIGN OPTIONS 			*/

.align-center {
	align-items: center;
}

.align-stretched {
	align-items: stretch;
}

.align-top {
	align-items: start;
}

.align-bottom {
	align-items: end;
}

/* 			CONTENT DIMENSIONS 			*/

.flex-1 {
	flex: 1;
}

.flex-1dt5 {
	flex:1.5;
}

/* 			GAPS 			*/

.gap-1px {
	gap: 1px;
}

.gap-3px {
	gap: 3px;
}

.gap-5px {
	gap: 5px;
}

.gap-10px {
	gap: 10px;
}

.gap-15px {
	gap: 15px;
}

.gap-20px {
	gap: 20px;
}

.gap-24px {
	gap: 24px;
}

.gap-30px {
	gap: 30px;
}

.gap-40px {
	gap: 40px;
}

.gap-60px {
	gap: 60px;
}

.gap-80px {
	gap: 80px;
}

.gap-100px {
	gap: 100px;
}

.gap-120px {
	gap: 120px;
}

.gap-200px {
	gap: 200px;
}

.gap-1dt5per {
	gap: 1.5%;
}

.gap-3per {
	gap: 3%;
}

.gap-364px {
	gap: 364px;
}