/* 			GEOMETRIC SHAPES 			*/

.circle-100px {
	width: 120px;
	height: 120px;
	border-radius: 60px;
}

.circle-90px {
	width: 90px;
	height: 90px;
	border-radius: 45px;
}

.circle-40px {
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.circle-35px {
	width: 35px;
	height: 35px;
	border-radius: 17.5px;
}

.circle-30px {
	width: 30px;
	height: 30px;
	border-radius: 15px;
}

.circle-25px {
	width: 25px;
	height: 25px;
	border-radius: 12.5px;
}

.circle-20px {
	width: 20px;
	height: 20px;
	border-radius: 10px;
}


.flat-line {
	height: 1px;
}

.separatory-line {
	width: 1px;
	height: 18px;
}

/* 			ROUND CORNERS 			*/

.r30px {
	border-radius: 30px;
}

.r15px {
	border-radius: 15px;
}

.r10px {
	border-radius: 10px;
}

.b2px {
	border-style: solid;
	border-color: var(--primary-color);
	border-width: 2px;
}

/* 			IMAGES 			*/

.img1 {
	max-width: 169px;
}
.img2 {
	max-width: 157px
}
.img3 {
	max-width: 166px;
}
.img4 {
	max-width: 150px;
}
.img5 {
	max-width: 150px;
}
.img6 {
	max-width: 156px;
}
.img7 {
	max-width: 36px;
}
.img8 {
	max-width: 450px;
}
.img9 {
	max-width: 25px;
}
.img10 {
	max-width: 37px;
}
.img11 {
	max-width: 27px;
}
.img12 {
	max-width: 25px;
}
.img13 {
	min-width: 400px;
}
.img14 {
	min-width: 30px;
}
.img15 {
	min-width: 370px;
	max-width: 370px;
}
.img16 {
	max-width: 30px;
}
.img17 {
	max-width: 350px;
}
.img18 {
	max-width: 15px;
}
.img19 {
	max-width: 20px;
}
.img20 {
	max-width: 650px;
}
.img21 {
	max-width: 23px;
}
.img22 {
	max-width: 120px;
}
.img23 {
	max-width: 500px;
}
.img24 {
	max-width: 250px;
}
.img25 {
	max-width: 450px;
}
.img26 {
	width: 25px;
}
.img27 {
	width: 30px;
}
.img28 {
	width: 500;
}
.img29 {
	width: 25px;
}
.img30 {
	width: 35px;
}
.img31 {
	width: 22px;
}